pre.pygments .hll { background-color: #2C3B41 }
pre.pygments { background: #263238; color: #EEFFFF }
pre.pygments .tok-c { color: #546E7A; font-style: italic } /* Comment */
pre.pygments .tok-err { color: #FF5370 } /* Error */
pre.pygments .tok-esc { color: #89DDFF } /* Escape */
pre.pygments .tok-g { color: #EEFFFF } /* Generic */
pre.pygments .tok-k { color: #BB80B3 } /* Keyword */
pre.pygments .tok-l { color: #C3E88D } /* Literal */
pre.pygments .tok-n { color: #EEFFFF } /* Name */
pre.pygments .tok-o { color: #89DDFF } /* Operator */
pre.pygments .tok-p { color: #89DDFF } /* Punctuation */
pre.pygments .tok-ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
pre.pygments .tok-cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
pre.pygments .tok-cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
pre.pygments .tok-cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
pre.pygments .tok-c1 { color: #546E7A; font-style: italic } /* Comment.Single */
pre.pygments .tok-cs { color: #546E7A; font-style: italic } /* Comment.Special */
pre.pygments .tok-gd { color: #FF5370 } /* Generic.Deleted */
pre.pygments .tok-ge { color: #89DDFF } /* Generic.Emph */
pre.pygments .tok-gr { color: #FF5370 } /* Generic.Error */
pre.pygments .tok-gh { color: #C3E88D } /* Generic.Heading */
pre.pygments .tok-gi { color: #C3E88D } /* Generic.Inserted */
pre.pygments .tok-go { color: #546E7A } /* Generic.Output */
pre.pygments .tok-gp { color: #FFCB6B } /* Generic.Prompt */
pre.pygments .tok-gs { color: #FF5370 } /* Generic.Strong */
pre.pygments .tok-gu { color: #89DDFF } /* Generic.Subheading */
pre.pygments .tok-gt { color: #FF5370 } /* Generic.Traceback */
pre.pygments .tok-kc { color: #89DDFF } /* Keyword.Constant */
pre.pygments .tok-kd { color: #BB80B3 } /* Keyword.Declaration */
pre.pygments .tok-kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
pre.pygments .tok-kp { color: #89DDFF } /* Keyword.Pseudo */
pre.pygments .tok-kr { color: #BB80B3 } /* Keyword.Reserved */
pre.pygments .tok-kt { color: #BB80B3 } /* Keyword.Type */
pre.pygments .tok-ld { color: #C3E88D } /* Literal.Date */
pre.pygments .tok-m { color: #F78C6C } /* Literal.Number */
pre.pygments .tok-s { color: #C3E88D } /* Literal.String */
pre.pygments .tok-na { color: #BB80B3 } /* Name.Attribute */
pre.pygments .tok-nb { color: #82AAFF } /* Name.Builtin */
pre.pygments .tok-nc { color: #FFCB6B } /* Name.Class */
pre.pygments .tok-no { color: #EEFFFF } /* Name.Constant */
pre.pygments .tok-nd { color: #82AAFF } /* Name.Decorator */
pre.pygments .tok-ni { color: #89DDFF } /* Name.Entity */
pre.pygments .tok-ne { color: #FFCB6B } /* Name.Exception */
pre.pygments .tok-nf { color: #82AAFF } /* Name.Function */
pre.pygments .tok-nl { color: #82AAFF } /* Name.Label */
pre.pygments .tok-nn { color: #FFCB6B } /* Name.Namespace */
pre.pygments .tok-nx { color: #EEFFFF } /* Name.Other */
pre.pygments .tok-py { color: #FFCB6B } /* Name.Property */
pre.pygments .tok-nt { color: #FF5370 } /* Name.Tag */
pre.pygments .tok-nv { color: #89DDFF } /* Name.Variable */
pre.pygments .tok-ow { color: #89DDFF; font-style: italic } /* Operator.Word */
pre.pygments .tok-w { color: #EEFFFF } /* Text.Whitespace */
pre.pygments .tok-mb { color: #F78C6C } /* Literal.Number.Bin */
pre.pygments .tok-mf { color: #F78C6C } /* Literal.Number.Float */
pre.pygments .tok-mh { color: #F78C6C } /* Literal.Number.Hex */
pre.pygments .tok-mi { color: #F78C6C } /* Literal.Number.Integer */
pre.pygments .tok-mo { color: #F78C6C } /* Literal.Number.Oct */
pre.pygments .tok-sa { color: #BB80B3 } /* Literal.String.Affix */
pre.pygments .tok-sb { color: #C3E88D } /* Literal.String.Backtick */
pre.pygments .tok-sc { color: #C3E88D } /* Literal.String.Char */
pre.pygments .tok-dl { color: #EEFFFF } /* Literal.String.Delimiter */
pre.pygments .tok-sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
pre.pygments .tok-s2 { color: #C3E88D } /* Literal.String.Double */
pre.pygments .tok-se { color: #EEFFFF } /* Literal.String.Escape */
pre.pygments .tok-sh { color: #C3E88D } /* Literal.String.Heredoc */
pre.pygments .tok-si { color: #89DDFF } /* Literal.String.Interpol */
pre.pygments .tok-sx { color: #C3E88D } /* Literal.String.Other */
pre.pygments .tok-sr { color: #89DDFF } /* Literal.String.Regex */
pre.pygments .tok-s1 { color: #C3E88D } /* Literal.String.Single */
pre.pygments .tok-ss { color: #89DDFF } /* Literal.String.Symbol */
pre.pygments .tok-bp { color: #89DDFF } /* Name.Builtin.Pseudo */
pre.pygments .tok-fm { color: #82AAFF } /* Name.Function.Magic */
pre.pygments .tok-vc { color: #89DDFF } /* Name.Variable.Class */
pre.pygments .tok-vg { color: #89DDFF } /* Name.Variable.Global */
pre.pygments .tok-vi { color: #89DDFF } /* Name.Variable.Instance */
pre.pygments .tok-vm { color: #82AAFF } /* Name.Variable.Magic */
pre.pygments .tok-il { color: #F78C6C } /* Literal.Number.Integer.Long */