<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>
<body>
  <!-- <header class="texture-{{ site.texture.style }}"> -->
  <header class="my-texture">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-toc">
          <h3>Table of Contents</h1>
          {% include toc.html html=content h_max=2 class="section-nav" %}
      </div>
      <div class="post-container">
          {{ content }}
      </div>
    </div>
  </main>
</body>
</html>

<script>
  for ( quote of document.querySelectorAll('blockquote') ) {
    console.log(quote.firstElementChild.innerText)

    const type = quote.firstElementChild.innerText

    if (type.length < 10) {
      quote.classList.add(type.toLowerCase());
    }
  }
</script>